* {
  box-sizing: border-box;
}

:root {
  --black: #080808;
  --white: #fefefe;
  --gray: #565656;
  --light-light-gray: rgba(120, 118, 118, 0.1);
  --light-gray: rgba(120, 118, 118, 0.5);

  --teal: #006060;
  --violetred: #a2106d;
  --orange: #ffa500;
}

html {
  background-color: var(--light-light-gray);
}

body {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.2em;
  color: var(--black);
}

h1 {
  text-align: center;
  font-size: 2rem;
}

form {
  width: 400px;
}

/* Code for exercise 01-hello */
.bio::first-line {
  font-weight: bold;
}
/* Code for exercise 02-form */

/* Code for exercise 03-starships */

.btn-group {
  margin: auto;
  width: 400px;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.btn {
  width: 80px;
  padding: 10px;
  color: var(--white);
  background-color: var(--black);
  border-color: var(--black);
  border-style: solid;
}

.btn:hover {
  text-decoration: none;
  background-color: var(--violetred);
  color: var(--white);
  border-color: var(--violetred);
  border-style: solid;
}

.starship-container {
  border: 1px solid var(--light-light-gray);
  background-color: var(--white);
  border-radius: 10px;
  box-sizing: border-box;
  padding: 10px;
  margin: 10px;
  width: 470px;
  text-align: center;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

.border-right {
  border-right: 2px solid var(--light-gray);
  height: 80px;
}

.manufactureby {
  text-align: left;
  padding-top: 33px;
  padding-left: 10px;
  font-size: 0.9em;
}

.spaceship-name {
  float: left;
  font-weight: bold;
  padding-top: 15px;
  padding-left: 10px;
  margin-left: 9px;
}

.spaceship-credits {
  float: right;
  font-weight: bold;
  padding-top: 15px;
  padding-right: 10px;
}

.speed-and-capacity {
  float: left;
  width: 50%;
  padding: 10px;
  font-size: 1em;
}

.speed-and-capacity-value {
  margin: 0;
  font-weight: bold;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

@media (min-width: 414px) {
  .starship-container {
    width: 380px;
    height: 200px;
    font-size: 0.87em;
  }
  .spaceship-name,
  .spaceship-credits {
    padding-left: 0px;
    padding-top: 20px;
  }
}
@media (min-width: 1024px) {
  .starship-container {
    width: 470px;
    height: 220px;
    font-size: 1em;
  }
}
